# Server
APP_ENV=development
APP_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=ledger_db
DB_SSLMODE=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_TIMEOUT=5s

# Logging
LOG_LEVEL=debug

# Idempotency
IDEMPOTENCY_TTL=24h

# Refund Policy
REFUND_WINDOW_DAYS=90

# PLATFORM UUID's if you want to update them
# update /migrations/000013_seed_platform_accounts.up.sql too
PLATFORM_FLOAT_ACCOUNT_ID=99bf8606-446b-4603-8b9a-49a9e83003d4
PLATFORM_CASH_ACCOUNT_ID=fa28695c-5204-49cf-84c1-06941abc9d4f
PLATFORM_REVENUE_ACCOUNT_ID=5a20ea5e-feb5-45c5-9ec0-db460d2627bc

RATE_LIMIT_REQUESTS=1000
RATE_LIMIT_WINDOW_SECONDS=60

SENTRY_DSN=<your_sentry_dsn>